@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --primary-1: hsl(179, 62%, 43%);
  --primary-2: hsl(71, 73%, 54%);
  --neutral-1: hsl(204, 43%, 93%);
  --neutral-2: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--neutral-1);
}

img {
  display: block;
  max-width: 100%;
}

/* typography */

h1,
h2 {
  margin-bottom: 1.25rem;
}

ul {
  list-style: none;
  padding: 0;
  font-size: .875rem;
}

.intro-title,
.price-title,
.about-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.intro-title {
  color: var(--primary-1);
}

.intro-subtitle {
  color: var(--primary-2);
  font-size: 1rem;
}

.intro-body {
  color: var(--neutral-2);
  line-height: 1.6em;
}

.price-title,
.price-amount,
.price-body,
.about-title,
.about-body {
  color: var(--neutral-1);
}

.price-amount {
  font-size: 2rem;
  display: flex;
  font-weight: 700;
  margin-bottom: .6rem;
}

.price-amount span {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-2);
  align-self: center;
  margin-left: 1rem;
}

.price-body {
  margin-bottom: 2rem;
}

.about-div li {
  color: var(--neutral-1);
}

/* layout */

main {
  display: grid;
  width: 350px;
  margin: 5em auto;
}

.grid-item {
  padding: 1.5em;
}

.intro-div {
  background: white;
  border-radius: 10px 10px 0 0;
}

.price-div {
  background: var(--primary-1);
}

.about-div {
  background: hsl(179, 52%, 49%);
  border-radius: 0 0 10px 10px;
}

.about-div li {
  margin-bottom: .25em;
}

@media screen and (min-width: 900px) {
  main {
    width: fit-content;
    grid-template-columns: 325px 325px;
    grid-template-areas: 
    "intro intro"
    "price about"
  }

  .intro-div {
    grid-area: intro;
    width: 100%;
  }

  .price-div {
    grid-area: price;
    border-radius: 0 0 0 10px;
  }

  .about-div {
    grid-area: about;
    border-radius: 0 0 10px 0;
  }

  .grid-item {
    padding: 2.6em;
  }
}

/* components */

button {
  font-family: 'Karla', sans-serif;
  display: block;
  width: 100%;
  color: var(--neutral-1);
  background-color: var(--primary-2);
  padding: 1.25em;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

button:hover {
  transform: scale(1.02);
  transition: transform 100ms ease-in-out;
}
